@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@model Titanbrary.Common.Models.UserInfoBookModel
<!-- Intro -->
<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>Create a Book</h1>
        @using (Html.BeginForm("CreateNewBook", "Dashboard", FormMethod.Post)) {
        <div class="row uniform">
            <div class="6u 12u$(xsmall)">               
                @Html.TextBoxFor(Model => Model.book.Name, new { id = "bookName", placeholder = "Book Name", required = "required" })
            </div>
            <div class="6u 12u$(xsmall)">
                @Html.TextBoxFor(Model => Model.book.Author, new { id = "bookAuthor", placeholder = "Book Author" })
            </div>
            <div class="6u 12u$(xsmall)">
                @Html.TextBoxFor(Model => Model.book.Publisher, new { id = "bookPublisher", placeholder = "Publisher" })
            </div>
            <div class="6u 12u$(xsmall)">
                @Html.TextBoxFor(Model => Model.book.Year, new { id = "bookYear", placeholder = "Year" })
            </div>
            <div class="6u 12u$(xsmall)">
                @Html.TextBoxFor(Model => Model.book.ISBN, new { id = "bookIsbn" , placeholder = "ISBN" })
            </div>
            <div class="6u 12u$(xsmall)">
                @Html.TextBoxFor(Model => Model.book.Edition, new { id = "bookEdition", placeholder = "Edition" })
            </div>

            <div class="6u 12u$(xsmall)">
                @Html.TextBoxFor(Model => Model.book.Language, new { id = "bookLanguage", placeholder = "Language" })
            </div>
            <div class="6u 12u$(xsmall)">
                @Html.TextAreaFor(Model => Model.book.Description, new { id = "bookDescription", placeholder = "Description" })
            </div>
            <div class="6u 12u$(xsmall)">
                @*<input type="text" id="keywords"  required />*@
                @Html.TextBoxFor(Model => Model.book.Keywords, new { id = "bookKeywords", placeholder = "keywords" })
            </div>
            <div class="6u 12u$(xsmall)">
                @*<input type="text" id="quantity"  style="background-color:#5e42a6" required />*@
                @Html.TextBoxFor(Model => Model.book.Quantity, new { id = "bookQuantity" , placeholder = "Quantity" })
            </div>
            <div class="6u 12u$(xsmall)">
                <select id="active">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
            <div class="6u 12u$(xsmall)">
                <input type="file" id="picture" placeholder="Upload picture" />
            </div>
            <div class="6u 12u$(xsmall)">
                @*<select id="listGenre">

                </select>*@
                @Html.DropDownListFor(Model => Model.book.GenreID, new SelectList(Model.genres.Select(g => new { Value = g.GenreID, Text = g.Title }), "Value", "Text"))<br />
            </div>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Submit" class="special" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
        
        
        
        }
        

        <form id="BookForm" action="">
           

        </form>
       






    </div>
</section>

