@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@model Titanbrary.Common.Models.UserInfoBookModel

<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>Advanced Search Result</h1><br />
        <div class="row uniform">
            <table id="table" class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Book Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Edition</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Quantity</th>                        
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => modelItem.book.Name)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.book.Author)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.book.Publisher)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.book.Edition)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.book.ISBN)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.book.Quantity)</td>
                        <td>Add to cart here</td>
                    </tr>
                </tbody>

            </table>
        </div>


    </div>
</section>